{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'weatherapp/index.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search By Date</title>
</head>
<body>
    <ul id="navBarUL">
        <li class="navBarItem" style="font-weight:bold"><a href="{% url 'weatherapp:index' %}">Search by Date</a></li>
        <li class="navBarItem" style="font-weight:bold"><a href="{% url 'weatherapp:searchByWeatherType' %}">Search by Weather Type</a></li>
    </ul>
    <div id="form1">
        <form action="{% url 'weatherapp:result'  %}" method="post">
            {% csrf_token %}
            Month:
            <input type="number" name="month" min="1" max="12" value="{{ current_month }}">
            Day:
            <input type="number" name="day" min="1" max="31" value="{{ current_day }}">
            Starting Year (1930-2015):
            <input type="number" name="year" min="1930" max="2015" value="1930">
            <br>
            <input type="submit" value="Calculate" />
        </form>
    </div>

    <div id="form2">
        <form action="{% url 'weatherapp:singleResult'  %}" method="post">
            {% csrf_token %}
            Month:
            <input type="number" name="month" min="1" max="12" value="{{ current_month }}">
            Day:
            <input type="number" name="day" min="1" max="31" value="{{ current_day }}">
            Year (1930-2015):
            <input type="number" name="year" min="1930" max="2015" value="1930">
            <br>
            <input type="submit" value="Calculate" />
        </form>
    </div>


</body>
</html>